rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // User profile document rules
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      // Nested subcollection representing user's library books
      match /books/{bookId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
    
  }
}
